.container-fluid.users-index
  %h1 Music City Bands
  = link_to 'Sign Up Your Band', new_user_path


  .users-all.container-fluid

    - @users.each do |user|
      .users-each
        %h2= user.name
        %button.btn.btn-warning= link_to 'Find out more about this band', user
