.container-fluid.users-index
  .users-index-title
    .users-title-text
      %h1 Music City Bands
      - if !logged_in?
        = link_to 'Sign Up Your Band', new_user_path


  .users-all.container-fluid
    .col-md-1
    .col-md-10
      - @users.each do |user|
        .col-md-4
          .users-each
            %h2= user.name
            .row
            = link_to "Find out more about this band", user, class: 'btn btn-warning'
    .col-md-1
