.container-fluid.home
  .main-div
    .row
      %h1 Welcome to Music City Jams!
      %p Where you can get the latest jam session information in Nashville
    .row
      .col-md-10.col-md-offset-2
        .row
          #sign-up.pic-3-div.col-md-3
            .pic-3-text
              %h2
                %a(href='#band-post-show') Bands Post Shows
          #check-band.pic-3-div.col-md-3
            .pic-3-text
              %h2
                %a(href='#check-local-band') Fans Post Comments
          #find-jam.pic-3-div.col-md-3
            .pic-3-text
              %h2
                %a(href='#find-jam-sessions') Everyone Jams Together
  #band-post-show.container-fluid.pic-12-div
    .pic-12-text
      %h2 make a band page
      %a.btn.btn-warning(href=new_user_path) Get Started
  .container-fluid
    .info-div
      .col-md-2
      .col-md-4
        .info-div-title
          %h3 tell people where to find You
        .info-div-text
          %h4 Testimonials:
          %p "Fans actually came to our practices." - Bob of Bob and the Bobettes
          %p "If people don't know where and when you play, how can they experience your music?" - Keaton Campbell of Reimstein
      .col-md-4
        .info-div-title
          %h3 build a fanbase
        .info-div-text
          %h4 Testimonials
          %p "I was able to share links to my shows on social media." - Cindi Lauper
          %p "People knew who we were when we went where we said we would." - Kilian Marley
      .col-md-2
  #check-local-band.container-fluid.pic-12-div
    .pic-12-text
      %h2 be heard by bands
      %a.btn.btn-info(href=new_user_path) Get Started
  .container-fluid
    .info-div
      .col-md-2
      .col-md-4
        .info-div-title
          %h3 ask questions about upcoming events
        .info-div-text
          %h4 Testimonials:
          %p "I found out that I could bring my dog." - Cheryl
          %p "The band was expecting me, and made me feel welcome." - Tiny Box Tim
      .col-md-4
        .info-div-title
          %h3 give feedback about performances
        .info-div-text
          %h4 Testimonials:
          %p "We love when Bob of Bob and the Bobettes wears sequins. AND WE TOLD HIM!" - Barbie and Ken
      .col-md-2
  #find-jam-sessions.container-fluid.pic-12-div
    .pic-12-text
      %h2 find local jam sessions in nashville
      %a.btn.btn-success(href=new_user_path) Get Started
  .container-fluid
    .info-div
      .col-md-2
      .col-md-4
        .info-div-title
          %h3 see where local bands are playing
        .info-div-text
          %h4 Testimonials:
          %p "Everyone comes to Nashville for music. But how many people hear Nashville's LOCAL music? Music City Jams changed that. And they changed my life. For the better." - Random Unpaid Fan

      .col-md-4
        .info-div-title
          %h3 actually go to a jam session!
        .info-div-text
          %h4 Testimonials:
          %p "The shows I found on Music City Jams were raw, intense, and intimate. Thanks, Music City Jams!" - Not a Relative
      .col-md-2
