.container-fluid.home
  .main-div
    .row
      %h1 Welcome to Music City Jams!
      %p Where you can get the latest jam session information in Nashville
    .row
      .col-md-10.col-md-offset-2
        .row
          #sign-up.pic-3-div.col-md-3
            .pic-3-text
              %h2
                %a(href='#sign-up-band') Sign up your band
          #check-band.pic-3-div.col-md-3
            .pic-3-text
              %h2
                %a(href='#check-local-band') Check out local bands
          #find-jam.pic-3-div.col-md-3
            .pic-3-text
              %h2
                %a(href='#find-jam-sessions') Find jam sessions
  #sign-up-band.container-fluid.pic-12-div
    .pic-12-text
      %h2 make a band page
      %a.btn.btn-warning(href=new_user_path) Get Started
  .container-fluid
    .info-div
      .col-md-2
      .col-md-4
        .info-div-text
          %h3 tell people where to find you
      .col-md-4
        .info-div-text
          %h3 build a fanbase
      .col-md-2
  #check-local-band.container-fluid.pic-12-div
    .pic-12-text
      %h2 check out local bands
      %a.btn.btn-info(href=users_path) Get Started
  .container-fluid
    .info-div
      .col-md-2
      .col-md-4
        .info-div-text
          %h3 keep up with your favorite band
      .col-md-4
        .info-div-text
          %h3 look at shows they have coming up
      .col-md-2
  #find-jam-sessions.container-fluid.pic-12-div
    .pic-12-text
      %h2 find local jam sessions in nashville
      %a.btn.btn-success(href=gigs_path) Get Started
  .container-fluid
    .info-div
      .col-md-2
      .col-md-4
        .info-div-text
          %h3 see where bands are playing
          %p maybe the bridgestone arena and ryman are a bit too mainstream for your taste.
          %p find shows that are intimate, raw, and performed by local talent

      .col-md-4
        .info-div-text
          %h3 actually go to a jam session! whoa!
          %p everyone is looking to make it big in music city!
          %p see your favorite bands perform before they start selling out crowds
      .col-md-2
