/*
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

////////////// User Session ////////////////////

.user-session-new {
  background-color: lightgrey;
  padding: 5%;
  margin: 5% 20%;
}

.btn {
  width: 100%;
}


 body {
   padding-top: 40px;
 }
