// Place all the styles related to the Fans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/////////////////// NEW ////////////////////
.fan-new {
  background-image: url('pedals-nor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;


  h1 {
    text-align: center;
    padding: 0 0 2%;
    font-size: 5rem;
  }
}
