// Place all the styles related to the Gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/////////////////// INDEX ////////////////////
.gigs-index {
  text-align: center;
  color: white;
  .gigs-each {
    display: inline-block;
    background-color: rgba(0, 0, 0, .4);
    width: 300px;
    height: 500px;
    margin: 1%;
  }

  .gigs-text {
    height: 300px;
  }

  img {
    width: 300px;
    height: 200px;

  }
}


/////////////////// NEW ////////////////////
.gig-new {
  background-image: url('pedals-nor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

  h1 {
    text-align: center;
    padding: 0 0 2%;
    font-size: 5rem;
  }

}

/////////////////// FORM ////////////////////
.gig-form {
 background-color: rgba(0, 0, 0, .4);
 padding: 5%;

 .btn {
   width: 100%;
 }

 .form-row {
   margin: 3% 5%;
 }


}

/////////////////// SHOW ////////////////////


.gig-show {
  text-align: center;

  a {
    color: white;
  }

  .gig-info {
    background-color: rgba(0, 0, 0, .4);
    color: white;

    img {
      width: 100%;
    }

  }
}
