// Place all the styles related to the Gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/////////////////// INDEX ////////////////////
.gigs-index {
  text-align: center;
  background-color: lightgrey;

  .gigs-index-filters {

    margin: 2% 0;

    .btn {
      width: 100%;
      padding: 4% 0;
    }

  }

  .gigs-index-title {
    margin: 2% 0;
    background-image: url('equipment.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

  }

  .gigs-each-image {
    background-color: darkgrey;
  }

  .gigs-each-location {


  }

  .gigs-title-text {
    padding: 10% 0;
  }

  .gigs-each {
    background-color: white;
    width: 100%;
    min-height: 450px;
    margin: 3%;
  }

  .gigs-each-name {
    padding: 2%;
  }

  .gigs-each-header {
    background-color: black;
    color: white;
    text-align: right;
    padding: 2%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

/////////////////// Edit ////////////////////
.gig-edit {
  .edit-title {
    text-align: center;
  }
}

/////////////////// NEW ////////////////////
.gig-new {
  background-image: url('pedals-nor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

  h1 {
    text-align: center;
    padding: 0 0 2%;
    font-size: 5rem;
  }

}

/////////////////// FORM ////////////////////
.gig-form {
 background-color: rgba(0, 0, 0, .4);
 padding: 5%;

 .btn {
   width: 100%;
 }

 .form-row {
   margin: 3% 5%;
 }


}

/////////////////// SHOW ////////////////////
.gig-show {
  text-align: center;
  background-color: lightgrey;

  .each-comment {
    margin: 2%;
    background-color: white;
  }

  .btn {
    padding: 2% 8%;
    border-radius: 40px;
  }

  .comment-name {
    padding: 2%;
  }
  .comment-body {
    padding: 2%;
  }

  img {
    width: 100%;
  }


  .gig-title {
    background-color: darkgrey;
    margin-bottom: 5%;
  }

  a {
    color: white;
  }

  .gig-info {
    background-color: white;


  }
}
