// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  text-align: center;

  .info-div {
    margin: 0 0 2%;
    height: 30rem;
  }

  .info-div-title {
    background-color: darkgrey;
    color: white;
    height: 100%;
    padding: 5%;
  }

  .info-div-text {
    background-color: white;
    padding: 5%;
    height: 20rem;
  }

  .main-div {
    margin: 0 0 5%;
  }

  .pic-12-text {
    color: white;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    padding: 10% 5%;

    a {
      color: white;
    }

    h2 {
      font-size: 5rem;
    }

    .btn {
      padding: 2% 10%;
      margin-top: 5%;
      border-radius: 40px;
      font-size: 2rem;
    }
  }

  .pic-12-div {
    margin: 2% 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .pic-3-text {
    color: white;
    display: table-cell;
    vertical-align: middle;
    height: 40rem;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;

    a {
      color: white;
    }
  }

  .pic-3-div {
    display: inline-block;
    background-color: grey;
    box-sizing: border-box;
    // opacity: .9;
    margin: 1%;
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
      font-size: 5rem;
    }
  }

  #sign-up {
    background-image: url('tommies-nor.jpg');
    background-position: bottom;
  }

  #sign-up-band {
    background-image: url('geek-jam-bcn-14.jpg');
    background-position: center;
  }

  #check-band {
    background-image: url('lipscomb-nor.jpg');
  }

  #check-local-band {
    background-image: url('guitars.jpg');
    background-position: center;
  }

  #find-jam {
    background-image: url('tommy-desk.jpg');
    background-position: center;
  }

  #find-jam-sessions {
    background-image: url('mcyo-orchestra.jpg');
  }



}
