// Place all the styles related to the user_session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-session-new {
  background-color: lightgrey;
  padding: 5%;
  margin: 5% 20%;

  .btn {
    width: 100%;
  }
}
