// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/////////////////// EDIT ////////////////////
.user-edit {
  h1 {
    text-align: center;
    padding: 0 0 2%;
    font-size: 5rem;
  }

}


/////////////////// SHOW ////////////////////
.user-show {
  text-align: center;
  background-color: grey;

  .each-comment {
    background-color: white;
    margin: 2%;

    img {
      width: 100%;
    }

    .col-md-4 {
      padding: 0;
    }

    .comment-gig-name {
      background-color: black;
      color: white;
    }

  }

  .user-title {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    a {
      color: white;
    }
  }

  .each-gig {

    .col-md-10 {
      background-color: white;
      margin: 2% 0;

    }

    .col-md-2 {
      margin: 2% 0;

      .btn {
        width: 100%;
        padding: 8% 0;
        border-radius: 40px;

        color: white;
      }

    }

    img {
      width: 100%;
      background-color: darkgrey;
    }

    .gig-text {
      text-align: left;
    }


  }

}

/////////////////// INDEX ////////////////////
.users-index {
  text-align: center;
  padding: 1%;
  color: white;
  background-color: lightgrey;

  .users-all {
    margin: 3% 0;
  }

  .users-index-title {
    background-image: url('nor2015.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  .users-title-text {
    padding: 10% 0;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  .users-each {
    display: inline-block;
    margin: 3%;
    background-color: rgba(0, 0, 0, .4);
    padding: 5%;
    height: 30rem;
    width: 100%;

    a {
      color: white;
    }

    .btn-warning {
      padding: 5%;
      border-radius: 40px;
      margin: 2%;
    }

  }
}

/////////////////// FORM ////////////////////
.user-form {
 background-color: rgba(0, 0, 0, .4);
 padding: 5%;

 .btn {
   width: 100%;
 }

 .form-row {
     margin: 3% 5%;
   }


}

/////////////////// NEW ////////////////////
.user-new {
  background-image: url('pedals-nor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;


  h1 {
    text-align: center;
    padding: 0 0 2%;
    font-size: 5rem;
  }
}
